<!--<div>{{weatherData | json}}</div>-->
<app-search (sendWeather)="onWeather($event)"></app-search>
<mat-card class="weather" *ngIf="weatherData">
  <mat-card-header>
    <mat-card-title>
      <h3 class="weather__town">{{weatherData.name}}</h3>
    </mat-card-title>
    <mat-card-subtitle>
      <h4 class="weather__temp">{{weatherData.main.temp}} C</h4>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p class="weather__clouds">Clouds:  {{weatherData.clouds.all}}%</p>
    <p class="weather__pressure">Pressure: {{weatherData.main.pressure}}hpa</p>
    <p class="weather__humidity">Humidity: {{weatherData.main.humidity}}%</p>
  </mat-card-content>
  <mat-card-actions>
    <button class="mat-accent" mat-mini-fab (click)="saveWeatherToLocalStorage(weatherData.name)">+</button>
  </mat-card-actions>
</mat-card>
<app-saved-cards [weatherDataToSavedCards]="weatherDataToSavedCards"></app-saved-cards>
<router-outlet></router-outlet>
