<div class="container">
  <mat-card class="weather" *ngFor="let card of weatherCardsData; let idx = index">
    <mat-card-header>
      <mat-card-title>
        <h3 class="weather__town">{{card.name}}</h3>
      </mat-card-title>
      <mat-card-subtitle>
        <h4 class="weather__temp">{{card.main.temp}} C</h4>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p class="weather__clouds">Clouds:  {{card.clouds.all}}%</p>
      <p class="weather__pressure">Pressure: {{card.main.pressure}}hpa</p>
      <p class="weather__humidity">Humidity: {{card.main.humidity}}%</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="mat-warn" mat-mini-fab (click)="onDelete(idx)" >x</button>
    </mat-card-actions>
  </mat-card>
</div>
